<p>
    <a href="{% url 'index' %}">Lista pozycji</a>
    <a href="{% url 'list_authr' %}">Autorzy</a>
    <a href="{% url 'list_serie' %}">Serie</a>
    <a href="{% url 'list_genre' %}">Gatunki</a>
    <a href="{% url 'list_publish' %}">Wydawcy</a>
</p>
<p>
    <a href="{% url 'add_item' %}">Dodaj pozycję</a>
    <a href="{% url 'add_authr' %}">Dodaj autora</a>
    <a href="{% url 'add_genre' %}">Dodaj gatunek</a>
    <a href="{% url 'add_serie' %}">Dodaj serię</a>
    <a href="{% url 'add_publish' %}">Dodaj wydawcę</a>
</p>